.mainContainer {
  :global(.container) {
    width: 100%;
    overflow: hidden;
  }
}

.column {
  padding: 0;
  min-width: 320px;
}
.profile {
  background-color: white;
  padding: 0px;
}

.carouselContainer {
  width: 100%;
  max-width: 25vh;
}
